/* logo.module.css */
.logoWrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logoTitle {
  margin: 0;
  white-space: nowrap;
  font-size:large
}

.logoTitle span {
  /* Стили для TYPE внутри LogoTYPE */
  color: #3498db; /* Пример цвета, можно убрать */
}