.authLink {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.authLink:hover {
  color: #3498db;
}

.authTitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}